<div class="container">
    <div class="row">
        <div class="col l4">
            <p>
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://placehold.it/300x400">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{first_name}} {{last_name}}<i class="material-icons right">perm_identity</i></span>
                        <p>{{company}}</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{first_name}} {{last_name}}<i class="material-icons right">close</i></span>
                        <p>
                            {{company}}<br>{{address}}<br>{{city}}, {{state}} {{zip}}<br>
                            <hr>{{phone}}<br>{{email}}<br>
                            <hr>
                            <p>Notes:<br>{{notes}}</p>
                            <br><br><br><br>
                            <hr>
                            <i class="material-icons small"><a href="{{fb_url}}">picture_in_picture</a></i>
                            <i class="material-icons small right-align"><a href="{{linkedin_url}}">surround_sound</a></i>
                        </p>
                        <br>
                        <a class="waves-effect waves-light btn">Edit Contact</a>
                    </div>
                </div>
            </p>
        </div>
        <div class="col l8 container">
            <h4>Interactions</h4>
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">phone</i>10/3/16
                    </div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <div class="right-align"><i class="material-icons">mode_edit</i></div>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">phone</i>9/13/16</div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">place</i>8/24/16</div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">email</i>8/4/16</div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">phone</i>07/16/16</div>
                    <div class="collapsible-body">
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</div>
